html,body{

    margin: 0;
    height: 100%;
    font-size: 18px;
}

.bg1{
    background-image: url(../img/beach.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: blue;
}